{% extends "base.html" %}
{% block title %}Lighting Installation &amp; Electrical Services | VoltVista Electric{% endblock %}
{% block description %}Permanent roofline lighting, landscape lighting and electrical work for homes in Dr. Phillips, Windermere, Bay Hill and Horizon West. Free estimates.{% endblock %}
{% block canonical %}
<link rel="canonical" href="{{ settings.business_url }}/">
{% endblock %}
{% block page %}home{% endblock %}

{% block main %}
<main>
  {% include '_hero.html' %}
  {% include '_home_services.html' %}
  {% include '_home_work.html' %}
  {% include '_home_gallery.html' %}
  {% include '_home_areas.html' %}
  {% include '_home_trust.html' %}
  {% include '_home_cta.html' %}
</main>
{% endblock %}
