{% extends "base.html" %}
{% block title %}Electrical Services in Orlando, FL | VoltVista Electric{% endblock %}
{% block description %}10+ years serving Orlando homeowners. Panel upgrades, installations, and 24/7 emergency service. Fully insured, fast response. Call VoltVista Electric today.{% endblock %}
{% block canonical %}
<link rel="canonical" href="{{ settings.business_url }}/">
{% endblock %}
{% block page %}home{% endblock %}

{% block main %}
<main>
  {% include '_hero.html' %}
  {% include '_home_services.html' %}
  {% include '_home_work.html' %}
  {% include '_home_gallery.html' %}
  {% include '_home_areas.html' %}
  {% include '_home_cta.html' %}
</main>
{% endblock %}
